{% extends 'base.html' %}

{% block content %}


{% if g.user %}
    <form method="post"><h2>Tell something to the web:</h2>
        <textarea name="posting" id="posting" cols="30" rows="4"></textarea>
        <input type="submit" value="Submit">
    </form>
{% endif %}

{% for post in posts %}
    <article class="post">
      <header>
        <div>
          {% set tup = g.db.execute("select user_name, user_username from USER where user_id = {}".format(post['user_id'] )).fetchone() %}
          <div class="about">by <a href="{{ url_for('interface.profile', page=tup[1]) }}">{{ "{} (@{})".format(* tup ) }}</a> on {{ post['post_date'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['user_id'] == post['user_id'] %}
          {% if g.user['user_id'] == post['user_id'] %}
          <a href="{{ url_for('interface.delete', post=post['post_id']) }}">Delete me.</a> or
          {% endif %}
        {% endif %} <a href="{{ url_for('interface.repost', post_id=post['post_id']) }}">Repost.</a>

        {% if post['post_is_repost'] == 1 %}{% set a = g.db.execute("select post_text, user_id from POST where post_id = {}".format(post['post_father_id'] )).fetchone()  %}{% set b = g.db.execute("select user_username from USER where user_id = {}".format(a[1])).fetchone()[0] %}<div class="repost">&gt;{{a[0]}} — @<a href="{{ url_for('interface.profile', page=b) }}">{{ b }}</a></div> {% endif %}
      </header>
      <p class="body">{{ post['post_text'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}




    <br>
    <br>
    <hr>
  <a href="{{ url_for('interface.next', page=next) }}">Next page</a>


{% endblock %}