{% extends 'base.html' %}

{% block content %}

  <center><h2>Register</h2></center>

  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="mail">Mail</label>
    <input name="mail" id="mail" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <hr>
    <input type="submit" value="Register">
  </form>

  <style>
    form {
      display: flex;
      flex-direction: column;
      max-width: 20em;
      margin: auto;
    }
  </style>
{% endblock %}